
.documents-block {
    margin: 32px 0;
}

.document-row {
    padding: 23px;
    background-color: #F5F6FA;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.document-name {

    font-size: 16px;
    font-weight: 400;
}

.document-type {
    font-size: 14px;
    font-weight: 400;
    color: #7E8088;
}

.document-info {
    flex-grow: 2;
    margin-left: 20px;
}