.header {
    /*padding: 25px 0;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-container {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container > img {
    width: 100%;
}