.portfolio {
    padding: 32px 0;
    width: 100%;
}

.portfolio-date {
    padding: 9px 14px;
    border-radius: 6px;
    border: 1px solid #E4E4EB
}

.pie-graphs {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.pie-graph {
    width: 50%;
}

/*.pie-graph * {*/
/*    width: 100% !important;*/
/*}*/

.portfolio-table-wrapper {
    overflow: scroll;
    /*width: 100%;*/
}

.portfolio-table-wrapper::-webkit-scrollbar {
    display: none;
}

.portfolio-table {
    margin: 30px 0;
}

.portfolio-table_header,
.portfolio-table_row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.portfolio-table_header {
    color: #b7b7bd;
    font-size: 12px;
}

.portfolio-table_row {
    font-size: 14px;
    border-top: 1px solid #E4E4EB;
}

.table__type {
    width: 100px;
}

.table__isin {
    width: 150px;
}

.table__emitent {
    width: 130px;
}

.table__amount {
    width: 90px;
}

.table__cost {
    width: 110px;
}

.table__weight {
    width: 70px;
}

.table__price {
    width: 100px;
}

@media (max-width: 768px) {
    .portfolio-table {
        width: 850px;
    }
}