.footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0;
    flex-shrink: 0;
}
.footer-content {
    font-size: 14px;
    font-weight: 400;
    color: #7E8088;
}

@media (max-width: 550px) {
    .footer-content {
        width: 230px;
    }
}